@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,700&display=swap');
* {
  font-family: 'Titillium Web', sans-serif;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5vw;
  margin-bottom: -5vw;
}
.headerItem {
  width: 40%;
}
header img {
  height: 100;
}
header #quizTitle {
  font-size: 9vw;
}
main {
  background-color: grey;
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: auto;
  margin: 50px;
}
main h2 {
  text-align: center;
}

#quiz-submit {
  width: auto;
  align-self: center;
}
#quiz-answers {
  align-self: center;
}
#hint {
  width: auto;
  align-self: center;
}
